body {
    --background: var(--color-grey-400);
    --color: var(--color-text-400);
    --font-family: 'Montserrat', sans-serif;
    --font-size: var(--font-size-400);
    --font-weight: var(--font-weight-400);
    --letter-spacing: 0.01618em;
    --line-height: var(--line-height-400);
}
